.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  padding: 3% 5%;
  padding-bottom: 3%;
  background: var(--color-background-mute);
}

.card-title {
  font-size: 2em;
  font-weight: bold;
}

.card-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
}

.card-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.card-form-error {
  position: absolute;
  top: 102%;
  color: var(--error);
  font-size: .9rem;
  line-height: .8rem;
}

.input {
  font-family: 'Courier New', Courier, monospace;
  color: var(--color-text);
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--color-background-mute);
  padding: 0 7px;
  background: var(--color-background);
  transition: border-color .3s ease;
}

.input:focus {
  outline: none;
  border-color: var(--blue);
}

.input-error {
  border-color: var(--error);
}

label {
  font-size: 1.1rem;
}

.card-form-submit {
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10%;
  transition: color .3s ease, border-color .3s ease;
}

.card-form-submit:focus {
  border-color: var(--color-background-mute);
}

.card-form-submit:hover {
  border-color: var(--blue);
}

.card-form-submit:disabled {
  color: var(--color-background-mute);
}

.card-form-submit:disabled:hover {
  border-color: var(--color-background-mute);
}

.card-form-submit-success {
  color: var(--success);
}

.card-form-submit-success:disabled {
  color: var(--success);
}

.card-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.redirect {
  display: flex;
  align-items: center;
  font-size: 120%;
  cursor: pointer;
}

.redirect-arrow {
  transition: margin .3s ease;
}

.redirect:hover > .redirect-arrow {
  margin-left: 5%;
}

.redirect:active > .redirect-arrow {
  margin-left: 50%;
}