@import './base.css';

#app {
  width: 50%;
  height: 100vh;
  margin: 0 auto;

  background-color: var(--color-background);
}

.color-red {
  color: var(--red);
}
.color-dark-red {
  color: var(--dark-red);
}
.color-blue {
  color: var(--blue);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.divider {
  height: 2px;
  width: 100%;
  align-self: center;
  background: var(--color-border);
  margin: 3% 0;
}