@import './base.css';

#app {
  width: 50%;
  height: 100vh;
  margin: 0 auto;

  background-color: var(--color-background);
}

.color-red {
  color: var(--red);
}
.color-dark-red {
  color: var(--dark-red);
}
.color-blue {
  color: var(--blue);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.divider {
  height: 2px;
  width: 100%;
  align-self: center;
  background: var(--color-border);
  margin: 3% 0;
}

.title-divider {
  margin-bottom: 6%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}